{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h3><i class="fas fa-users"></i> Registered Users</h3>
  <table class="table table-bordered table-striped mt-3">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Full Name</th>
        <th>Username</th>
        <th>Address</th>
        <th>Pin Code</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ user.full_name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.pin_code }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
